<div id="vehicles">
  <h3>Step 3: Retrieve data</h3>
  <br/>
    <h3>Your report successfully sent to you insurance company.</h3>
  <div>
    <a href="/vehicles" class="btn btn-primary" role="button">Make another request</a>
    <a href="/logout" class="btn btn-link" role="button">Logout</a>
  </div>
</div>
